# ------------------------------------------------------------------------------
#  Copyright (c) 2012, Jean-Philippe Farcy
#  This file is part of Postgres Backup Suite (PGBS).
#
#  Postgres Backup Suite (PGBS) is free software: you can redistribute 
#  it and/or modify it under the terms of the GNU General Public License
#  as published by the Free Software Foundation, either version 3 of
#  the License, or (at your option) any later version.
#
#  Postgres Backup Suite (PGBS) is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
# ------------------------------------------------------------------------------
#
#@JP	===============================================================================
#@JP	
#@JP	         FILE: pgbackup_fr.config
#@JP	
#@JP	        USAGE: source /rootdir/pgbs/cfg/pgbackup_fr.config
#@JP	  DESCRIPTION: Postgresql Backup Suite 
#@JP	               config file for pgbackup.sh scripts.  
#@JP	
#@JP	      OPTIONS: ---
#@JP	 REQUIREMENTS: ---
#@JP	         BUGS: ---
#@JP	        NOTES: This script may only work on OS bash is implemented
#@JP	       AUTHOR: FARCY jean-philippe (), 
#@JP	          WEB: https://github.com/jpfarcy/pgbs 
#@JP	      VERSION: 1.3
#@JP	      CREATED: 23/01/2013 10:03:43
#@JP	     REVISION: --- 
#@JP	===============================================================================
#
#######################################
## PGBACKUP FICHIER DE CONFIGURATION ##
#######################################

# --------------------------
#  Parametres de connection
# --------------------------
# User avec lequel le backup doit se faire. Si le user qui a lancer le script n'est pas 
# le bon le script se termine. Laisser la variable vide pour ne pas activer le check
BACKUP_USER=
 
# Pour matcher le pg_hba.
# Par defaut "localhost" si rien n'est spécifié.
PG_HOSTNAME=

# Si besoin, on peut utiliser la socket
# Il faut choisir entre le PG_HOSTNAME ou PG_SOCKDIR
# Par defaut c'est PG_HOSTNAME qui est utilisé
PG_SOCKDIR=

# Nom du user Postgres avec lequel les backups seront effectués.
# Par defaut "postgres" si rien n'est spécifié.
# Si vous devez preciser un mot de passe. Veuillez utiliser
# un fichier .pgpass dans le home du user qui lance le script
PG_USER=

# Port du cluster postgresql.
# Par defaut "5432" si rien n'est spécifié.
PG_PORT=

# Repertoire où se trouve les bianaires de postgresql.
# Par defaut dans /usr/bin si rien n'est spécifié.
PG_PATH=

# Repertoire où se trouve postgresql (PGDATA).
# Par defaut dans $PGDATA si rien n'est spécifié.
PG_DATA=

# --------------------------
#  Parametres de backups
# --------------------------
# --- Generaux

# Nom du cluster.
# Par defaut aucun.
PG_CLUSTER=

# Le repertoire de destination des backups. l'arborescence sera la suivante.
# Par defaut "/var/backups"" si rien n'est spécifié.
# +- BACKUP_DIR
# |- PG_CLUSTER (si le nom est renseigné)
# | |- exports
# | | |- pg_dumpall-cluster_name_yyyy-mm-dd-HHhMMmSSs.dump
# | | |- pg_dump-base1_schema_yyyy-mm-dd-HHhMMmSSs.sql
# | | |- pg_dump-base1_backupformat_yyyy-mm-dd-HHhMMmSSs.sql.gz
# | | `- pg_dump-base1_backupformat_yyyy-mm-dd-HHhMMmSSs.dump
# | | 
# | |- tar
# | | |- pg_tar-cluster_name_yyyy-mm-dd-HHhMMmSSs.tgz
# | | |- pg-tar-cluster_namet_yyyy-mm-dd-HHhMMmSSs_tablespace.tgz
# | | `- pg_tar-cluster_name_yyyy-mm-dd-HHhMMmSSs.tgz
# | |
# | `- conf
# |   |-pg_dumpall-cluster_name_globals-only_yyyy-mm-dd-HHhMMmSSs.sql
# |   |- postgresql-cluster_name_yyyy-mm-dd-HHhMMmSSs.conf
# |   `- pg_hba-cluster_name_yyyy-mm-dd-HHhMMmSSs.conf
# | 
# `- cluster_PORT (si le nom n'est pas renseigné)
#   |- exports
#   | |- pg_dumpall-cluster_port_yyyy-mm-dd-HHhMMmSSs.dump
#   | |- pg_dump-base1_schema_yyyy-mm-dd-HHhMMmSSs.sql
#   | |- pg_dump-base1_backupformat_yyyy-mm-dd-HHhMMmSSs.sql.gz
#   | `- pg_dump-base1_backupformat_yyyy-mm-dd-HHhMMmSSs.dump
#   | 
#   |- tar
#   | |- pg_tar-cluster_port_yyyy-mm-dd-HHhMMmSSs.tgz
#   | |- pg-tar-cluster_port_yyyy-mm-dd-HHhMMmSSs_tablespace.tgz
#   | `- pg_tar-cluster_port_yyyy-mm-dd-HHhMMmSSs_arch.tgz
#   |
#   `- conf
#     |- pg_dumpall-cluster_port_globals-only_yyyy-mm-dd-HHhMMmSSs.sql
#     |- postgresql-cluster_port_yyyy-mm-dd-HHhMMmSSs.conf
#     `- pg_hba-cluster_port_yyyy-mm-dd-HHhMMmSSs.conf

BACKUP_DIR=
 
# Liste des bases du cluster a sauvegarder
# Par defaut toutes les bases sint sauvegardées si rien n'est spécifié.
PG_DB_LISTE=

# --- Exports

# Un export par base doit il etre fait : yes / no
# Par defaut "yes"
BACKUPS_TYPE_EXP=

# Un export all doit il etre fait : yes / no
# Par defaut "yes"
BACKUPS_TYPE_ALL=

# Definit le format du backup : plain, tar, custom.
# Par defaut "custom" si rien n'est spécifié.
BACKUPS_FORMAT=

# Options si le dump doit etre sans owner : yes / no
# Par defaut "no" , le owner est sauvegardé
BACKUPS_NOOWNER=

# Compression ou pas pour le format plain : yes / no
# Par defaut yes
COMPRESS=

# Utilitaire de compression et chemin
# Par defaut $PATH (which gzip)
COMPRESS_BIN=

# Politique de retention des exports en jour
# Par defaut 7 jours si rien n'est spécifié.
BACKUPS_RETENTION_EXP=

# Politique de retention des export all en jour
# Par defaut 7 jours si rien n'est spécifié.
BACKUPS_RETENTION_ALL=

# --- Tar
# Le backup tar gere les tablespaces postgres

# Un tar du cluster doit il etre fait : yes / no
# Par defaut "no"
BACKUPS_TYPE_TAR=

# Chemin du cluster
# Par deaut PGDATA
PG_TAR_IN=

# Le repertoire de destination des backups.
# Par defaut "/var/backups/tar/cluster_port_yyyy-mm-dd-HHhMMmSSs.tgz" si rien n'est spécifié.
# Voir l'arborescence des backups plus haut
PG_TAR_OUT=

# Politique de retention des Tar en jour
# Par defaut 7 jours si rien n'est spécifié.
BACKUPS_RETENTION_TAR=

# ---- Postgres Conf
# Sauvegarde la configuration de Postgresql

# Une sauvegarde de la conf doit il etre fait : yes / no
# Par defaut "yes"
BACKUPS_TYPE_CONF=

# Politique de retention des conf en jour
# Par defaut 7 jours si rien n'est spécifié.
BACKUPS_RETENTION_CONF=

# ----------------------------
#  Parametres des Traitements
# ----------------------------

# Definit si un vacuum doit etre fait: yes / no
# Par defaut "yes" si rien n'est spécifié
PG_VACUUM=

# Definit le type de vacuum full, simple
# Par defaut "full" si rien n'est spécifié.
VACUUM_TYPE=

# Definit si un analyse doit etre fait lors du vacuum: yes / no
# Par defaut "yes" si rien n'est spécifié.
PG_ANALYSE=

# Definit si une reindexation doit etre faite: yes / no
# Par defaut "yes" si rien n'est spécifié.
PG_REINDEX=

# ----------------------------
#  Parametres Autres
# ----------------------------

# Definit si le log doit etre envoyé par mail
# Par defaut "no" si rien n'est spécifié.
PGBS_MAIL=

# Definit la liste des adresses mail
# Séparé par des , ex: foo@bar.com,bar@foo.com
PGBS_MAIL_ADR=

# Definit un sujet pour le mail
# ex: "mon sujet"
PGBS_MAIL_SUB=

# Definit une commande externe à lancer en fin de traitement
# Par defaut "no" si rien n'est spécifié.
EXT_CMD=

# Definit une commande externe à lancer en fin de traitement
# quand celui ci est OK
EXT_CMD_Ok=

# Definit une commande externe à lancer en fin de traitement
# quand celui ci est en ERREUR
EXT_CMD_Err=
