# ------------------------------------------------------------------------------
#  Copyright (c) 2013, Jean-Philippe Farcy
#  This file is part of Postgres Backup Suite (PGBS).
#
#  Postgres Backup Suite (PGBS) is free software: you can redistribute 
#  it and/or modify it under the terms of the GNU General Public License
#  as published by the Free Software Foundation, either version 3 of
#  the License, or (at your option) any later version.
#
#  Postgres Backup Suite (PGBS) is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
# ------------------------------------------------------------------------------
#
#@JP	===============================================================================
#@JP	
#@JP	         FILE: pgbackup_en.config
#@JP	
#@JP	        USAGE: source /rootdir/pgbs/cfg/pgbackup_en.config
#@JP	  DESCRIPTION: Postgresql Backup Suite 
#@JP	               config file for pgbackup.sh scripts.  
#@JP	
#@JP	      OPTIONS: ---
#@JP	 REQUIREMENTS: ---
#@JP	         BUGS: ---
#@JP	        NOTES: This script may only work on OS bash is implemented
#@JP	       AUTHOR: FARCY jean-philippe (), 
#@JP	         MAIL: 
#@JP	      VERSION: 1.1
#@JP	      CREATED: 23/01/2013 10:03:43
#@JP	     REVISION: --- 
#@JP	===============================================================================
#
#######################################
## PGBACKUP CONFIG FILE              ##
#######################################

# --------------------------
#  Connection Parameters
# --------------------------
# Optional system user to run backups as.  If the user doesn't match
# the script terminates.  Leave blank to skip check.
BACKUP_USER=
 
# Postgresql hostname to connect to.
# default "localhost" if none specified.
PG_HOSTNAME=

# If necessary, you can use the socket
# You must choose between PG_HOSTNAME or PG_SOCKDIR
# default PG_HOSTNAME if none specified.
PG_SOCKDIR=

# Postgres username to connect to performs backups.
# By default "postgres" if nothing is specified.
# If you need to specify a password. Please use
# .pgpass file in the homedirectory of the user who runs the script.
PG_USER=

# Postgresql cluster port.
# Defaut "5432" if none specified. 
PG_PORT=

# Postgresql binaries directory
# Default /usr/bin if none specified.
PG_PATH=

# Postgresql install dir : initdb (PGDATA).
# Default $PGDATA if none specified.
PG_DATA=

# --------------------------
#  Backups Parameters
# --------------------------
# --- Global

# Cluster name.
# Default "cluster_$PORT" if none specified.
PG_CLUSTER=

# The destination directory backups. the tree is as follows.
# Default "/var/backups"" if none specified.
# +- BACKUP_DIR
# |- PG_CLUSTER (if the name is specified)
# | |- exports
# | | |- pg_dumpall-cluster_name_yyyy-mm-dd-HHhMMmSSs.dump
# | | |- pg_dump-base1_schema_yyyy-mm-dd-HHhMMmSSs.sql
# | | |- pg_dump-base1_backupformat_yyyy-mm-dd-HHhMMmSSs.sql.gz
# | | `- pg_dump-base1_backupformat_yyyy-mm-dd-HHhMMmSSs.dump
# | | 
# | |- tar
# | | |- pg_tar-cluster_name_yyyy-mm-dd-HHhMMmSSs.tgz
# | | |- pg-tar-cluster_namet_yyyy-mm-dd-HHhMMmSSs_tablespace.tgz
# | | `- pg_tar-cluster_name_yyyy-mm-dd-HHhMMmSSs.tgz
# | |
# | `- conf
# |   |-pg_dumpall-cluster_name_globals-only_yyyy-mm-dd-HHhMMmSSs.sql
# |   |- postgresql-cluster_name_yyyy-mm-dd-HHhMMmSSs.conf
# |   `- pg_hba-cluster_name_yyyy-mm-dd-HHhMMmSSs.conf
# | 
# `- cluster_PORT (if the name is not specified)
#   |- exports
#   | |- pg_dumpall-cluster_port_yyyy-mm-dd-HHhMMmSSs.dump
#   | |- pg_dump-base1_schema_yyyy-mm-dd-HHhMMmSSs.sql
#   | |- pg_dump-base1_backupformat_yyyy-mm-dd-HHhMMmSSs.sql.gz
#   | `- pg_dump-base1_backupformat_yyyy-mm-dd-HHhMMmSSs.dump
#   | 
#   |- tar
#   | |- pg_tar-cluster_port_yyyy-mm-dd-HHhMMmSSs.tgz
#   | |- pg-tar-cluster_port_yyyy-mm-dd-HHhMMmSSs_tablespace.tgz
#   | `- pg_tar-cluster_port_yyyy-mm-dd-HHhMMmSSs_arch.tgz
#   |
#   `- conf
#     |- pg_dumpall-cluster_port_globals-only_yyyy-mm-dd-HHhMMmSSs.sql
#     |- postgresql-cluster_port_yyyy-mm-dd-HHhMMmSSs.conf
#     `- pg_hba-cluster_port_yyyy-mm-dd-HHhMMmSSs.conf

BACKUP_DIR=
 
# Backup databases list
# By default all databases are backed up if nothing is specified.
PG_DB_LISTE=

# --- Exports

# Per database export : yes / no
# Default "yes" if none specified
BACKUPS_TYPE_EXP=

# Export all : yes / no
# Default "yes" if none specified
BACKUPS_TYPE_ALL=

# Defines the format of the backup : plain, tar, custom.
# Default "custom" if none specified.
BACKUPS_FORMAT=

# Options if the dump must be owner free: yes / no
# Default "no" , the owner is backuped.
BACKUPS_NOOWNER=

# Compress the plain format backup : yes / no
# Default "yes" if none specified
COMPRESS=

# Compression utility and road
# By default $PATH (which gzip)
COMPRESS_BIN=

# Exports retention policy : in days
# By default 7 days if nothing is specified.
BACKUPS_RETENTION_EXP=

# Exports All retention policy : in days
# By default 7 days if nothing is specified.
BACKUPS_RETENTION_ALL=

# --- Tar
# The backup tar manages Postgres tablespaces

# A tar of the cluster should be done : yes / no
# By default "no" if nothing specified.
BACKUPS_TYPE_TAR=

# Postgres cluster path
# By default PGDATA
PG_TAR_IN=

# The destination directory backups.
# By default "/var/backups/tar/cluster_port_yyyy-mm-dd-HHhMMmSSs.tgz" if nothing is specified.
# See tree backups above.
PG_TAR_OUT=

# Tar backups retention policy : in days
# By default 7 days if nothing is specified.
BACKUPS_RETENTION_TAR=

# ---- Postgres Conf
# Save the Postgresql configuration 

# Set if a backup of the conf should be done: yes / no
# By default "yes"
BACKUPS_TYPE_CONF=

# Config backups retention policy : in days
# By default 7 days if nothing is specified.
BACKUPS_RETENTION_CONF=

# ----------------------------
#  Batch Parameters
# ----------------------------

# Set if a vacuum must be done: yes / no
# By default "yes" if nothing is specified
PG_VACUUM=

# Set the type of vacuum : full, simple
# By default "full" if nothing is specified
VACUUM_TYPE=

# Set if an analyse must be done at the end of the vacuum: yes / no
# By default "yes" if nothing is specified.
PG_ANALYSE=

# Set if re-indexing must be made: yes / no
# By default "yes" if nothing is specified.
PG_REINDEX=

# ----------------------------
#  Others Parameters
# ----------------------------

# Set to launch an external command at the end of the script
# By default "no" if nothing is specified.
EXT_CMD=

# Set to launch an external command at the end of the script
# when it is OK
EXT_CMD_Ok=

# Set to launch an external command at the end of the script
# when the script exit whith ERROR
EXT_CMD_Err=